/* Custom css */


body {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #7d859f;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

img {
    transition: .3s;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

button {
    cursor: pointer;
}

a:focus,
a:hover {
    color: #2B96CC;
    text-decoration: none;
}

a,
button {
    color: #7d859f;
    outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #000c35;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #7d859f;
    margin-bottom: 15px;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.separator {
    border-top: 1px solid #f2f2f2
}



/* fixed css */










/* -----------------------------
---------Header Css------------
-------------------------------- */
.header-area {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(63, 92, 110, .15);
    height: 3.75rem;
    transform: translateZ(0);
    width: 100%;
    z-index: 125;
}

.logo a {
	font-size: 35px;
	color: #24963D;
	font-family: Roboto;
}

/* .header-top {
	padding: .5rem 0rem;
} */



.top-menu-fix a {
	align-items: center;
	color: #247ba0;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 1rem 0 1rem .75rem;
}
.top-menu-fix-2 a {
	align-items: center;
	color: #247ba0;
	cursor: pointer;
	flex-direction: row;
	padding: 1rem 0 1rem .75rem;
}
.top-menu-fix a i {
    font-size: 25px;
    padding-right: 5px;
}
.top-menu-fix-2 a i {
    font-size: 25px;
    padding-right: 5px;
}

.top-menu-fix a span {
    border-right: 1px solid #edf3f6;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    padding-right: .75rem;
    pointer-events: none;
    width: 100%;
}
.top-menu-fix-2 a span {
    border-right: 1px solid #edf3f6;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    padding-right: .75rem;
    pointer-events: none;
    width: 100%;
}

#header-search{
	border-left: 0;
	margin: 0 auto;
	max-width: 29rem;
	position: relative;
}

.froms {
	background-color: #fff;
	margin: 0 auto;
	padding: .75rem .5rem;
	width: calc(100% - 1.5rem);
}
.Input-Wrapper input {
	/* border-right: none; */
	box-sizing: border-box;
	color: #05293c;
	padding: 3px .6rem;
	width: calc(100% + 2px);
}